#!/usr/bin/env bash

# This should be the user you're logged in as
export USER_NAME=

## Environment variables (change these)
export CONFIG_PATH=
export STORAGE_PATH=
export SMB_USER_NAME=
export SMB_PASSWORD=
